body{
    background-color:rgba(164, 206, 226, 0.5);
}

body .container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: auto;
    /*border: 2px solid #8b2424;*/
    flex-basis: 300px;
    flex-wrap: wrap;
    


}


.caja{
    padding: 15px;
    margin: 10px;
    border: 2px solid #3f0c5e
    
}
