body {
    background-color: gray; /*Color de fondo*/
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
h1 {
    color: navy;
    text-align: center;
}
.intro {
    color: darkgreen;
}
a:hover {
    color: orange;
}
#contenido {
    background-color: yellowgreen;
    padding: 20px;
    border: 1px solid #ddd;
}