#static {
    position: static;
    background-color: aqua;   /*Color de Fondo*/
    width: 300px;               /*Ancho*/  
    height: 300px;              /*Alto*/ 
    margin-bottom: 10px;        /*Margen inferior*/
    padding: 10 px;             /*relleno*/  
}

#relative {
    position: relative;
    background-color: rgb(238, 131, 70);   /*Color de Fondo*/
    width: 200px;               /*Ancho*/  
    height: 200px;              /*Alto*/ 
    margin-bottom: 10px;        /*Margen inferior*/
    padding: 10 px;             /*relleno*/
    left: 700px;  
}

#fixed {
    position: fixed;
    background-color: rgb(20, 131, 16);   /*Color de Fondo*/
    width: 300px;               /*Ancho*/  
    height: 200px;              /*Alto*/ 
    margin-bottom: 10px;        /*Margen inferior*/
    padding: 10 px;             /*relleno*/
    top: 10px;
    right: 100px;
    /*
    left: 10;
    bottom: 100;
    */    
}

#block {
    display: block;
    background-color: rgb(161, 135, 222);
    border: 6px solid black;
}

#inline {
    display: inline;
    background-color: rgb(135, 222, 161);
    border: 6px solid black;
}

#inline-block {
    display: inline-block;
    background-color: burlywood;
    width: 400px;
    height: 400px;
    border: 6px solid black;
}