body{
    background-color: #93ccdd;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

}
h1{
    color: #470f68;
}
p{
    font-size:25px;
}